RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f # If not a file...
RewriteCond %{REQUEST_FILENAME} !-d # and not a directory...
RewriteRule . /index.php [L]        # serve index.php